{% extends "app.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block description %}
  {% for paragraph in description %}
    <p>{{ paragraph|safe }}</p>
  {% endfor %}

  <p>
    {% blocktrans trimmed %}
      The Matrix server domain is set to <em>{{ domain_name }}</em>. User IDs
      will look like <em>@username:{{ domain_name }}</em>. Changing the domain
      name after the initial setup is currently not supported.
    {% endblocktrans %}
  </p>
  <p>New users can be registered from any client if public registration is enabled.</p>

  {% if not has_valid_certificate %}
    <div class="alert alert-warning" role="alert">
      {% url 'letsencrypt:index' as letsencrypt_url %}
      {% blocktrans %}
        The configured domain name is using a self-signed certificate.
        Federation with other Matrix Synapse instances requires a valid TLS
        certificate. Please go to <a href="{{ letsencrypt_url }}">Let's
        Encrypt</a> to obtain one.
      {% endblocktrans %}
    </div>
  {% endif %}
{% endblock %}
